# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: 测试技术文章分享
email: xiaozi0lei@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  这是我的一个技术分享博客，希望大家喜欢，有任何意见请在 GitHub 留言联系我！
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://www.yingnote.cn" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: jekyllrb
github_username:  xiaozi0lei
#lang: zh-cn

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
theme: jekyll-theme-hacker
